<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xmlns:gfe="http://www.springframework.org/schema/gemfire"
        xmlns:context="http://www.springframework.org/schema/context" 
        xmlns:util="http://www.springframework.org/schema/util" 
        xmlns:p="http://www.springframework.org/schema/p"
        xmlns:cache="http://www.springframework.org/schema/cache" 
        xmlns:jaxws="http://cxf.apache.org/jaxws"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-3.1.xsd
        http://www.springframework.org/schema/gemfire http://www.springframework.org/schema/gemfire/spring-gemfire-1.1.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
        http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd"
    >

    <!-- context file for process that spins up a gemfire locator service inside a spring context based app
         locator services must be started before data nodes can come up.
         -->
    <context:property-placeholder system-properties-mode="OVERRIDE" 
        location="classpath:/common.properties,classpath:gemfire-jmxagent.properties" />

    <!-- create a unique directory base directory for this node -->
    <bean id="findDiskDir" class="demo.vmware.util.PersistenceDirectoryGenerator" destroy-method="unlock" 
            init-method="findDirectory">
        <property name="parent" value="${data.location}/jmxagent" />
    </bean>

    <!-- runs a locator. supports multiple locators on a single host -->
    <bean id="jmxAgent" class="demo.vmware.util.JmxAgentBean" init-method="startAgent">
        <property name="logFile" value="#{findDiskDir.getSelected()}/jmx.log" />
        <property name="mcastPort" value="${mcast-port}" />
        <property name="rmiPort" value="${rmi-port}" />
        <property name="locators" value="${locator.host1}[${locator.port1}],${locator.host2}[${locator.port2}]"/>
    </bean>
</beans>
